@model List<WordDocument>

@foreach (var item in Model)
{
    <h3>@item.Title</h3>
    <form asp-action="DownloadFile" asp-controller="Document" method="post" enctype="multipart/form-data" asp-route-id="@item.Id">
        <input type="submit" value="Скачать" />
    </form>
} 